$color: #999;

.tv {
  border: solid thin $color;
  margin: 1em;
  .tv-title {
    font-weight: 100;
    line-height: 2em;
    color: $color;
    padding-left: .5em;
    border-bottom: lighten($color, 10%) thin solid;
  }
}

.segement-bg {
  background: rgba(0,0,0,.05);
  border: solid thin white;
  display: inline-block;
  height: 100%;
}
.segment-bg h4 {
  text-align: center;
}
.division{
  text-align: left;
  font-size: .75em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.division:nth-child(odd) {
  background: rgba(255,255,255,.25);
}


.tv-header-labels-view{
  display: flex;
}
.tv-segment-header {
  flex: 1;
  h4 {
    font-size: 1em;
    font-weight: 100;
    text-align: center;
    margin: 0;
  }
}
.tv-view {
  transition: all .3s linear;
  position: absolute;
  right: 0%;
  width: 100%;
}

.tv-serie, .tv-series-header {
  display: flex;
  border-bottom: dotted #999 thin;
  padding: 4px;
  position: relative;        }

.tv-serie:hover {
  background-color: lighten($color, 30%);
}
.tv-serie-label, .tv-header-nav {
  flex: 1;
  border-right: dotted thin $color;
}
.tv-serie-datas, .tv-header-labels {
  flex: 4;
  overflow: hidden;
  position: relative;
}
.tv-serie-datas-view {

}

.tv-serie-data {
  background: rgba(255,50,25, .5);
  border: solid thin rgba(255,50,25, .75);
  text-shadow: -1px 1px 1px rgba(0,0,0,.25);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 4px;
  padding: 2px 4px;
  color: aliceblue;
  font-size: .9em;
  font-weight: 400;
}
/*************************************************************************/
.tv-serie-label {
  font-size: 1em;
  font-weight: 100;
  line-height: 2em;
}

