$color: #999;

.tv {
  border: solid thin lighten($color, 20%);
  margin: 1em;
  box-shadow: 0 0 .5em rgba(0,0,0,.15);

  .tv-view {
    transition: all .3s linear;
    position: absolute;
    right: 0%;
    width: 100%;
    height: 100%;
  }

  .tv-weft {
    border-right: dashed rgba($color, .4) thin;
    background-color: rgba($color, .2);
    &:nth-child(odd){
      background-color: rgba($color,.1);
    }
  }

  .tv-marker {
    background-color: rgba(255,255,255,.75);
    &.tv-start {
      border-right: solid 2px #000;
    }

    &.tv-end {
      border-left: solid 2px #000;
    }
  }

  // Titre du composant
  .tv-title {
    font-weight: 100;
    line-height: 2em;
    color: $color;
    padding-left: .5em;
    border-bottom: lighten($color, 30%) thin solid;
  }
  .tv-series-header {
    height: 3em;


    .tv-header-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;

      >a {
        background: lighten($color, 20%);
        color: white;
        text-decoration: none;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        text-align: center;
        display: block;
      }
    }
  }
}

.tv-segement-bg {
  background: rgba(0,0,0,.05);
  border: solid thin white;
  display: inline-block;
  height: 100%;
  h4 {
    text-align: center;
  }
}
.division{
  text-align: center;
  font-size: .75em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-right: thin solid lighten($color, 25%);
  color: $color;
  &:last-child{
    border-right: none;
  }
}
.division:nth-child(odd) {
  background: rgba(255,255,255,.25);
}


.tv-header-labels-view{
  display: flex;
}
.tv-segment-header {
  flex: 1;
  h4 {
    font-size: 1em;
    font-weight: 100;
    text-align: center;
    margin: 0;
  }
}

.tv-serie {
  border-bottom: lighten($color, 30%) thin solid;
}
.tv-series-header {
  border-bottom: lighten($color, 30%) thin solid;
}

.tv-serie, .tv-series-header {
  display: flex;
  //border-bottom: dotted #999 thin;
  padding: 4px;
  position: relative;
  height: 100%;
}

.tv-serie:hover {
  background-color: lighten($color, 35%);
}
.tv-serie-label, .tv-header-nav {
  flex: 1;
  border-right: dotted thin $color;
}
.tv-serie-datas, .tv-header-labels {
  flex: 4;
  overflow: hidden;
  position: relative;
}
.tv-serie-datas-view {

}

.tv-serie-datas {
  background-color: rgba($color, .1);
}

.tv-serie-data {
  background: rgba(255,50,25, .75);
  border: solid thin rgba(255,50,25, .75);
  text-shadow: -1px 1px 1px rgba(0,0,0,.25);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 4px;
  padding: 2px 4px;
  color: aliceblue;
  font-size: .9em;
  font-weight: 400;
  &:hover {
    z-index: 5;
  }
  &.nostart {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.noend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
/*************************************************************************/
.tv-serie-label {
  font-size: 1em;
  font-weight: 100;
}

