@mixin label( $color ){
   box-shadow: inset 4px -4px 8px rgba(0,0,0,.25), inset -2px 2px 4px rgba(255,255,255,.3);
   background: rgba($color, .75);
   border: solid thin rgba($color, .9);
   color: lighten($color, 50%);
   cursor: default;
   &:hover {
      border: solid thin rgba($color, 1);
      background: rgba($color, 1);
   }
}

.data-red {
   @include label(#A60000);
}

.data-blue {
   @include label(#1240AB);
}

.data-green {
   @include label(#007536);
}

.data-yellow {
   @include label(#FFD100);
}

.data-orange {
   @include label(#FF6400);
}

.data-pink {
   @include label(#CD0074);
}

.data-purple {
   @include label(#530FAD);
}
